* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
  font-size: 30px;
}

header  {
  height: 105px;
}

header h1{
  position: absolute;
  left: 10%;
  top: 0;
  line-height: 105px;
}

header img {
  position: absolute;
  right: 10%;
  top: 0;
}

nav {
  background-color: black;
  padding: 1em 5% 1em 0;
  }

nav ul {
  display: flex;
  justify-content: flex-end;
  }

nav li {
  list-style: none;
  padding-left: 1em;
  }

nav a{
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  padding: 1em 5% 1em 5%;
  align-items: flex-start;
}

article {
  width: 75%;
}

aside {
  width: 25%;
  justify-content: space-between;
  background-color: tan;
  padding-left: 2em;
}

footer {
  height: 4em;
  background-color: saddlebrown;
}

.cross-page-quote {
  height: 4em;
  background-color: gray;
}